/* select all elements */

* {
    margin: 0;
    padding: 0;
    border: none;
}


header{

height: 10px;


}


/* adresses the body of the HTML
   changed font
*/
body {
    font-family: Rob, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }







  .menu {


    align: right;


}




/* Media queries for responsivenes--> */

/*
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (max-width: 600px) {

  

}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-height: 601px) {




}

/* Medium devices (landscape tablets, 768px and up) 

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {}

*/




/* Headings */
h1, h2 {
    font-family: Rob, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* styling the header pt. 01 */

#logo {
    float: left;
    font-size: 140%;
    top: 0;
}

/* Menu format */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    text-align: right;

}

/* menu format */


#menu {

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}


#menu, #logo {

    line-height: 75px;

}





ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 10px; 
    align-items: center;
  }

/* menu format 2 */

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    
}

/* menu styling continued */

#menu a {
    text-decoration: none;
    color: inherit;
}

/* menu behaviour */

#menu a:hover {
    border-bottom: 1px solid #00ffc8;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
*/






#hero-image {
    padding-top: 500px;
    height: 300px;
    width: 100%;
    background: url('../images/neural-networks.jpg') no-repeat center center;
   
}


p{
    text-align: center;
}


#cover-text {
text-align: center;
}



html, body {
    height: 100%;
    margin: 0;
  }


  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }


  .footer {
    text-align: center;
}

 

 /* Youtube styling  */


.videos {
  width: 560px; /* you have to have a size or this method doesn't work */
  height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

  position: absolute; /* positions out of the flow, but according to the nearest parent */
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto; /* make em equal */
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h4 {text-align: center;}


.footer.style{ 0 auto;
  margin-left: auto;
  margin-right: auto;
}

