/* select all elements */

* {
    margin: 0;
    padding: 0;
    border: none;
}


/* adresses the body of the HTML
   changed font
*/
body {
    font-family: Rob, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings */
h1, h2 {
    font-family: Rob, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* styling the header pt. 01 */

#logo {
    float: left;
    font-size: 140%;
}

/* Menu format */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float:right;
    text-align: right;
}

/* menu format */



/* menu format 2 */

#menu li {
    
    list-style-type: none;
    margin-right: 30px;
}

/* menu styling continued */

#menu a {
    text-decoration: none;
    color: inherit;
}

/* menu behaviour */

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}




#hero-image {
    padding-top: 50px;
    height: 300px;
    width: 100%;
    background: url('../images/neural-networks.jpg') no-repeat center center;
}



footer {


    height: 150px;
}